version: "3.8"

services:

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    restart: always
    networks:
      - mean-network

  backend:
    image: nandini9901/mean-backend:latest
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    restart: always
    networks:
      - mean-network
    environment:
      - MONGO_URL=mongodb://mongo:27017/mean-db

  frontend:
    image: nandini9901/mean-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
    networks:
      - mean-network

networks:
  mean-network:
    driver: bridge
